blessed==1.19.1
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
Deprecated==1.2.13
gitdb==4.0.9
GitPython==3.1.27
idna==3.3
inquirer==2.9.2
prettytable==3.3.0
pycparser==2.21
PyGithub==1.55
PyJWT==2.4.0
PyNaCl==1.5.0
python-editor==1.0.4
python-gitlab==3.4.0
readchar==3.0.5
requests==2.27.1
requests-toolbelt==0.9.1
six==1.16.0
smmap==5.0.0
urllib3==1.26.9
wcwidth==0.2.5
wrapt==1.14.1
